<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now.to_fs(:nice_date) %>
<% end %>

<h1>Entries</h1>

<div id="entries" style="display:flex">
  <% @entries.each do |entry| %>
    <%#= debug entry.to_yaml %>
    <div class="card" style="margin:1rem">
    <div class="card-content">
    <%= render entry %>
    <p>
    Logged <%= time_ago_in_words(entry.created_at) %> ago
    </p>

      <%= link_to "Show", entry %>
      <%= link_to "Edit", edit_entry_path(entry) %>
      <%#= link_to "Delete", entry, method: :delete, data:{confirm:'Are you sure'} %>
      <%= link_to 'Delete', entry, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </div>
    </div>
  <% end %>
</div>

<%= link_to "New entry", new_entry_path %>
<%= link_to "Display Archives", archives_index_path %>

