<% content_for :title do %>
  <%= @entry.meal_type %> &ndash;  <%= DateTime.now.to_fs(:nice_date) %>
<% end %>

<%= params %>

<%= render @entry %>

<div>
  <%= link_to "Edit this entry", edit_entry_path(@entry) %> |
  <%= link_to "Back to entries", entries_path %>

  <%= button_to "Destroy this entry", @entry, method: :delete %>
</div>
